<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>success</key>
	<true/>
	<key>yi18</key>
	<array>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>96</integer>
			<key>name</key>
			<string>怀孕</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>97</integer>
			<key>name</key>
			<string>孕妇</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>102</integer>
			<key>name</key>
			<string>安胎</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>101</integer>
			<key>name</key>
			<string>怀孕初期</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>103</integer>
			<key>name</key>
			<string>保胎</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>104</integer>
			<key>name</key>
			<string>产妇</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>105</integer>
			<key>name</key>
			<string>坐月子</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>106</integer>
			<key>name</key>
			<string>产后</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>107</integer>
			<key>name</key>
			<string>哺乳期</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>6</integer>
			<key>id</key>
			<integer>109</integer>
			<key>name</key>
			<string>下奶</string>
		</dict>
	</array>
</dict>
</plist>
